
.jikai-mainContent{
    overflow: hidden;
    margin-bottom: 40px;
}

.jikai-leftDesc{
    margin-top:100px
}
.jikai-leftDesc .firstImg{
    margin-bottom:30px
}
.jikai-introimg{
    margin-bottom: 42px;
}
.jikai-introimg{
    height: 160px;
    background-image: url(../img/introimg-zhishixinxi.png);
    background-position: center center;
}
.jikai-commonInfo{
    font-family: "microsoft yahei";
}
.jikai-commonInfo .infoTitle{
    background-image: url(../img/jikaiinfo.jpg);
    background-repeat: no-repeat;
    color: #333;
    padding-left: 67px;
    font-size: 16px;
    margin-top: 17px;
    padding-top: 4px;
}
.jikai-commonInfo.info2 .infoTitle{
    background-image: url(../img/infoimg2.png);
    height: 20px;
}
.jikai-commonInfo .infoSubTitle{
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}
.jikai-commonInfo .infoContent{
    margin-top: 12px;
    font-size: 14px;
}
.jikai-commonInfo .infoContent p{
    margin-top: 22px;
    max-width: 420px;
    color: #333;
}


.jikai-companyInfo{
    font-family: "microsoft yahei";
    margin-top: 40px;
}
.jikai-companyInfo .companyTitle{
    color: #333;
    font-weight: bold;
    margin-bottom: 14px;
    font-size: 16px;
}
.jikai-companyInfo .companyLine{
    margin-bottom: 5px;
    font-size: 14px;
    overflow: hidden;
    color: #7a7a7a;
}
.jikai-companyInfo .companyLine .companyLineLeft{
    float:left;
    width: 358px;
}
.jikai-companyInfo .companyLine .companyLineRight{
    float:left;
}
