<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/base.css"/>
	<link rel="stylesheet" href="../css/common.css"/>
	<style>
		div{
			min-height: 100px;
			outline:1px solid;
		}
	</style>
</head>
<body>
	<div class="jikai-header">
		<div class="mainContainer">

		</div>
	</div>
	<div class="jikai-nav">
		<div class="mainContainer">

		</div>
	</div>
	<div class="jikai-introimg">
	</div>
	<div class="jikai-mainContent">
		<div class="mainContainer">
			<div class="leftBlock">

			</div>
			<div class="rightBlock">

			</div>
		</div>
	</div>
	<div class="jikai-footer">
		<div class="mainContainer">

		</div>
	</div>
</body>
</html>